body { background: #a2c5f4; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 17px; display: flex; }
.block-shipping-0 { color: #9c4ab8; font-size: 17px; margin-bottom: 5px; }
.block-validator-1 { color: #cc3253; font-size: 18px; margin-bottom: 5px; }
.block-router-2 { color: #3184e0; font-size: 12px; margin-bottom: 5px; }
.block-sms-3 { color: #6f9410; font-size: 14px; margin-bottom: 5px; }
.block-metrics-4 { color: #e08d83; font-size: 20px; margin-bottom: 5px; }